@import url('https://fonts.googleapis.com/css?family=K2D');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

p {
    font-family: Permanent Marker, 'Arial', sans-serif;
    font-size: 18px;
}

img {
    height:100%;
    width: 100%;
}

body {
    top: 0;
    left: 0;
    height: 1000px;
    background: purple;
}

#navigation {
    background-color: darkred;
    color: white;
    border-bottom: 1px solid rgb(43, 42, 42);
}

#game-title {
    font-size: 50px;
}

#body-content {
    background-color: rgb(112, 149, 252);
    color: white;
    padding: 20px;
}

#lose-screen {
    display:none
}

#win-screen {
    display:none
}

#game-screen {
    padding: 30px;
    display: none;
}

#character-heading {
    font-size:25px;
    color: rgb(21, 231, 21);
}

#enemy-heading {
    font-size:25px;
    color: rgb(255, 0, 0);
}

.avatar-box {
    position: relative;
    display:  inline-block;
    width: 250px;
    height: 300px;
    background-color:white;
    border: 1px solid red;
    margin: 20px 20px;
    overflow: hidden;
    border-radius: 30px;
    z-index:99;
}

.stats {
    float:left;
    position: absolute;
    left:30%;
    bottom:5px;
    color:green;
    font-size:20px;
    background-color:white;
    padding:3px;
    border: 1px solid green;
    border-radius: 9px;
    text-align: center;
}

#instructions {
    font-size:25px;
    color:red;
}

button {
    margin: 0 0 10px 0; 
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#character-box {
    background-color: goldenrod;
    padding:10px 0px;
    margin:10px auto;
    text-align:center;
}

#enemy-box {
    background-color: rgb(23, 219, 233);
    padding:0px 0px;
    margin:10px auto;
    text-align:center;
}

#console-tile {
    border-right: 1px solid rgb(50, 50, 51);
    border-bottom: 1px solid rgb(50, 50, 51);
}

#console-box {
    padding: 10px 10px;
    background-color: gray;
    margin:10px 0;
}  

.console-log-1 {
    font-size:20px;
}

.console-log-2 {
    font-size:20px;
}

#name-invalid {
    color: red;
    visibility: hidden;
}